---
import type { Props } from '@astrojs/starlight/props'
import MobileSidebar from '@/components/page-sidebar/mobile-sidebar.tsx'

const isHero = Astro.url.pathname === '/'
---

<div
  class="flex h-full w-full flex-col md:justify-between lg:flex-row">
  {
    Astro.props.toc && (
      <>
        {/* desktop */}
        <div class="relative order-2 hidden lg:flex">
          <slot name="right-sidebar" />
        </div>

        {/* mobile */}
        <div class="sticky top-0 z-[10] flex md:hidden">
          <MobileSidebar
            client:load
            {...({ ...Astro.props, labels: undefined } as any)}
          />
        </div>
      </>
    )
  }
  <div class={`w-full ${!isHero ? 'max-w-[75ch]' : ''} order-1`}>
    <slot />
  </div>
</div>
