---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import { getCollection } from 'astro:content'

const commands = await getCollection('commands')
---

<StarlightPage frontmatter={{ title: 'CLI Commands' }}>
  <ul>
    {
      commands.map(c => (
        <li>
          <a href={`/cli/commands/${c.id}`}>{c.id}</a>
        </li>
      ))
    }
  </ul>
</StarlightPage>
