.DS_Store
.env
.env.production
.build-*/
*.tsbuildinfo
/infra/**/*.tgz
tmp

/.turbo
/docs
/node_modules
/scripts/fixtures/
/results/

/src/*/.tap
/src/*/.turbo
/src/*/dist
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map
/src/**/*.mjs
/src/**/*.mjs.map
/src/**/*.d.mts
/src/**/*.d.mts.map
/src/*/docs
/src/*/node_modules
/src/*/scripts/fixtures/
/src/*/vltpkg-*.tgz
/src/*/local-store
/src/*/.wrangler
/src/*/.dev.vars
/src/*/*.log

/infra/*/.tap
/infra/*/.turbo
/infra/*/dist
/infra/**/*.js
/infra/**/*.js.map
/infra/**/*.d.ts
/infra/**/*.d.ts.map
/infra/**/*.mjs
/infra/**/*.mjs.map
/infra/**/*.d.mts
/infra/**/*.d.mts.map
/infra/*/outdir
/infra/*/docs
/infra/*/node_modules
/infra/*/scripts/fixtures/
/infra/cli-benchmarks/**/node_modules
/infra/cli-benchmarks/**/vlt-lock.json

/infra/benchmark/.artifacts

/www/*/.tap
/www/*/.astro
/www/*/.vercel/
/www/*/.turbo
/www/*/dist
/www/**/*.js
/www/**/*.js.map
/www/**/*.d.ts
/www/**/*.d.ts.map
/www/**/*.mjs
/www/**/*.mjs.map
/www/**/*.d.mts
/www/**/*.d.mts.map
/www/*/node_modules
/www/*/scripts/fixtures/

/scripts/*.js
/scripts/*.js.map
/scripts/*.d.ts
/scripts/*.d.ts.map
knip.js
knip.js.map
knip.d.ts
knip.d.ts.map
