.DS_Store

/docs
/node_modules
/pnpm-exec-summary.json

/src/*/.tap
/src/*/.tshy-build
/src/*/dist
/src/*/docs
/src/*/node_modules

!/src/cache-unzip/dist
/src/cache-unzip/dist/esm/*
!/src/cache-unzip/dist/esm/unzip.js
