.DS_Store

/.turbo
/docs
/node_modules
/pnpm-exec-summary.json
/scripts/fixtures/

/src/*/.tap
/src/*/.tshy-build
/src/*/.turbo
/src/*/dist
/src/*/docs
/src/*/node_modules
/src/*/scripts/fixtures/

/infra/*/.tap
/infra/*/.tshy-build
/infra/*/.turbo
/infra/*/dist
/infra/*/docs
/infra/*/node_modules
/infra/*/scripts/fixtures/
