/scripts/fixtures
/.tap
/.tshy
/.tshy-build
/dist
/docs
/example
/node_modules
/pnpm-lock.yaml
/tap-snapshots
/test/**/fixture
/test/**/fixtures

/src/*/scripts/fixtures
/src/*/.tap
/src/*/.tshy
/src/*/.tshy-build
/src/*/dist
/src/*/docs
/src/*/example
/src/*/node_modules
/src/*/tap-snapshots
/src/*/test/**/fixture
/src/*/test/**/fixtures/**
!/src/*/test/**/fixtures/*.ts
