---
import type { Props } from '@astrojs/starlight/props'
import Footer from '@/components/footer/footer.tsx'
const { hasSidebar } = Astro.props
---

<div class="flex min-h-svh w-full flex-col">
  {/* top */}
  <header>
    <slot name="header" />
  </header>

  {/* content */}
  <div
    class="mx-0 flex h-full w-full max-w-screen-xl flex-grow flex-row md:mx-auto md:px-6">
    {
      hasSidebar && (
        <aside class="-pr-10">
          <slot name="sidebar" />
        </aside>
      )
    }
    <div class="w-full flex-grow">
      <slot />
    </div>
  </div>

  {/* bottom */}
  <Footer
    client:only="react"
    {...{ ...Astro.props, labels: undefined } as any}
  />
</div>
