---
import type { Props } from '@astrojs/starlight/props'
import Search from '@astrojs/starlight/components/Search.astro'
import Logo from '@/components/header/logo.tsx'
import MobileSidebar from '@/components/sidebar/mobile-sidebar.tsx'
import LinearMenu from '@/components/header/linear-menu'

const { sidebar } = Astro.props
---

<nav
  class="mx-auto -mt-1 mb-4 flex w-full max-w-screen-xl items-center justify-between px-10 py-6 md:px-6">
  <a
    href="https://www.vlt.sh/"
    class="-mt-[1px] ml-[5px] flex h-[52px] w-[104px] items-center">
    <Logo
      client:only="react"
      {...{ ...Astro.props, labels: undefined } as any}
    />
  </a>

  <div
    class="flex w-full items-center justify-end justify-items-end gap-4">
    <Search {...Astro.props} />
    <MobileSidebar
      client:load
      sidebar={sidebar}
      {...{ ...Astro.props, labels: undefined } as any}
    />
    <LinearMenu
      client:only="react"
      {...{ ...Astro.props, labels: undefined } as any}
    />
  </div>
</nav>
