/* ***************************************** */
/*                 FONTS                     */
/* ***************************************** */
@font-face {
  font-family: 'courier';
  src: url('/fonts/courier-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'courier';
  src: url('/fonts/courier-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'courier';
  src: url('/fonts/courier-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geistMono';
  src: url('/fonts/geist-mono.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* util resets */
  --container-8xl: 92rem;
  --breakpoint-8xl: 92rem;
  --text-xxs: 0.625rem;
  --text-sm: 0.813rem;
  --size-7_5: 1.875rem;

  /* font families */
  --font-sans: inter, sans-serif;
  --font-mono: geistMono, serif;
  --font-courier: courier, monospace;
}

@theme inline {
}
