
---
export function getStaticPaths() {
  return [
    {params: {command: 'ls'}},
    {params: {command: 'query'}},
    {params: {command: 'config'}},
  ];
}

const { command } = Astro.params;

import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'My custom page' }}>
  <p>This is a custom page for: {command}</p>
</StarlightPage>
