---
import type { Props } from '@astrojs/starlight/props'
import MobileSidebar from '@/components/page-sidebar/mobile-sidebar.tsx'
---

<div
  class="mx-auto flex h-fit max-h-full w-full max-w-screen-xl flex-col md:justify-between lg:flex-row">
  {
    Astro.props.toc && (
      <>
        {/* desktop */}
        <div class="relative sticky top-[101px] order-2 hidden h-fit lg:flex">
          <slot name="right-sidebar" />
        </div>

        {/* mobile */}
        <div class="sticky top-0 z-[10] flex md:hidden">
          <MobileSidebar
            client:load
            {...({ ...Astro.props, labels: undefined } as any)}
          />
        </div>
      </>
    )
  }
  <div class="order-1 h-fit w-full">
    <slot />
  </div>
</div>
