name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Use Nodejs 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      # These don't need to be recursive since the root is setup to lint all files
      - name: Run Style Linting
        run: pnpm run format:check
        id: style
        continue-on-error: true

      - name: Run Code Linting
        run: pnpm run lint:check
        id: code
        continue-on-error: true

      - name: Check Results
        run: |
          echo "Style: ${{ steps.style.outcome }}"
          echo "Code: ${{ steps.code.outcome }}"
          if [ "${{ steps.style.outcome }}" != "success" ] || [ "${{ steps.code.outcome }}" != "success" ]; then
            exit 1
          fi

  test:
    name: Test - ${{ matrix.platform.name }} - ${{ matrix.node-version }}

    strategy:
      matrix:
        node-version: [20.x]
        platform:
          - os: ubuntu-latest
            shell: bash
            name: Ubuntu
          - os: macos-latest
            shell: bash
            name: macOS
          - os: macos-13
            shell: bash
            name: macOS Intel
          - os: windows-latest
            shell: bash
            name: Windows
          - os: windows-latest
            shell: powershell
            name: Windows Powershell
      fail-fast: false

    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Use Nodejs ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Tests
        run: pnpm --no-bail --aggregate-output -r test
