name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      full-matrix:
        description: 'Whether to run the full matrix of environments for testing.'
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-check:
    name: Pre-Check
    runs-on: ubuntu-latest
    outputs:
      release-pr: ${{ steps.release-pr.outputs.value }}
      full-matrix: ${{ steps.full-matrix.outputs.value }}
    steps:
      - name: Release PR
        id: release-pr
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" && "${{ github.head_ref }}" == "release" ]]; then
            echo "value=true" >> "$GITHUB_OUTPUT"
          else
            echo "value=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Matrix
        id: full-matrix
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          if [[
            "${{ github.event_name }}" == "push" ||
            "${{ steps.release-pr.outputs.value }}" == "true" ||
            "${{ inputs.full-matrix }}" == "true"
          ]]; then
            echo "value=true" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          if [[
            "${{ github.event_name }}" == "pull_request" &&
            "$PR_TITLE" == *"[ci full-matrix]"*
          ]]; then
            echo "value=true" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          echo "value=false" >> "$GITHUB_OUTPUT"

  lint:
    name: Lint
    # TODO: use filters to run a subset of lint/format
    needs: pre-check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '^22.14.0'
          check-latest: true

      - name: Install Dependencies with known good version of vlt
        run: npx vlt@latest install

      - name: Build source version of vlt
        run: node --run build:bundle

      - name: Add source version of vlt to PATH
        run: echo "$GITHUB_WORKSPACE/scripts/bins/bundle" >> $GITHUB_PATH

      - name: Install Dependencies with source of vlt
        run: |
          # avoid changes from the bootstrap step
          ./scripts/rm-node-nodules.ts
          # re-install dependencies
          vlt install --view=human

      - name: Formatting
        id: format
        continue-on-error: true
        run: vlr format:check

      - name: Linting
        id: lint
        continue-on-error: true
        run: vlr lint:check

      - name: Dependencies
        id: deps
        continue-on-error: true
        run: vlr deps:check

      - name: Docs
        id: docs
        continue-on-error: true
        run: vlr --workspace ./docs typedoc:check

      - name: Consistent Workspaces
        id: workspaces
        continue-on-error: true
        run: |
          vlr fix:pkg
          if [ -n "$(git status --porcelain)" ]; then
            git diff
            exit 1
          fi

      - name: Check Results
        run: |
          declare -A OUTCOMES=(
            [format]="${{ steps.format.outcome }}"
            [lint]="${{ steps.lint.outcome }}"
            [deps]="${{ steps.deps.outcome }}"
            [docs]="${{ steps.docs.outcome }}"
            [workspaces]="${{ steps.workspaces.outcome }}"
          )
          STATUS=0
          for STEP in "${!OUTCOMES[@]}"; do
            OUTCOME="${OUTCOMES[$STEP]}"
            echo "$STEP: $OUTCOME"
            if [ "$OUTCOME" != "success" ]; then
              STATUS=1
            fi
          done
          exit $STATUS

  test:
    name: Test - ${{ matrix.platform.name }} - ${{ matrix.node-version }}
    needs: pre-check
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    strategy:
      matrix:
        node-version: [22.x, 24.x]
        platform:
          - name: Ubuntu
            os: ubuntu-latest
            shell: bash
          - name: macOS
            os: macos-latest
            shell: bash
          - name: Windows
            os: windows-latest
            shell: bash
        exclude:
          - node-version: '24.x'
          - platform: ${{ fromJSON(needs.pre-check.outputs.full-matrix == 'false' && '{"name":"macOS","os":"macos-latest","shell":"bash"}') }}
      fail-fast: false

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '^22.14.0'
          check-latest: true

      - name: Install Dependencies with known good version of vlt
        run: npx vlt@latest install

      - name: Build source version of vlt
        run: node --run build:bundle

      - name: Add source version of vlt to PATH
        run: echo "$GITHUB_WORKSPACE/scripts/bins/bundle" >> $GITHUB_PATH

      - name: Install Dependencies with source of vlt
        run: |
          # avoid changes from the bootstrap step
          ./scripts/rm-node-nodules.ts
          # re-install dependencies
          vlt install --view=human

      - name: Prepare
        run: vlr --recursive prepare

      - name: Run Tests
        run: vlr --recursive test

  on-failure:
    name: Notify on Failure
    runs-on: ubuntu-latest
    if: ${{ always() && needs.pre-check.outputs.release-pr == 'true' && (needs.lint.result == 'failure' || needs.test.result == 'failure') }}
    needs:
      - pre-check
      - lint
      - test
    steps:
      - name: Slack Notify
        uses: rtCamp/action-slack-notify@v2.3.3
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_GITHUB_ALERTS_WEBHOOK_URL }}
          SLACK_USERNAME: vltops
          SLACK_CHANNEL: github-alerts
          SLACK_ICON: https://github.com/vltpkg.png
          SLACK_COLOR: failure
          SLACK_FOOTER: ''
          SLACKIFY_MARKDOWN: true
          MSG_MINIMAL: 'actions url,commit'
          SLACK_TITLE: ${{ github.event.pull_request.title }} Lint/Test Failed
          SLACK_MESSAGE: |
            [PR ${{ github.event.number }}](https://github.com/${{ github.repository }}/pull/${{ github.event.number }})
            Lint: ${{ needs.lint.result == 'failure' && ':x:' || ':white_check_mark:' }}
            Test: ${{ needs.test.result == 'failure' && ':x:' || ':white_check_mark:' }}
