name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Use Nodejs 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      # These don't need to be recursive since the root is setup to lint all files
      - name: Run Style Linting
        run: pnpm run format:check
        id: style
        continue-on-error: true

      - name: Run Code Linting
        run: pnpm run lint:check
        id: code
        continue-on-error: true

      - name: Check Dependencies
        run: node ./scripts/check-deps.js
        id: deps
        continue-on-error: true

      - name: Check Packages
        run: |
          node ./scripts/consistent-package-json.js
          if [ -n "$(git status --porcelain)" ]; then
            git diff
            exit 1
          fi
        id: pkg
        continue-on-error: true

      - name: Check Results
        run: |
          STYLE="${{ steps.style.outcome }}"
          CODE="${{ steps.code.outcome }}"
          DEPS="${{ steps.deps.outcome }}"
          PKG="${{ steps.pkg.outcome }}"
          echo "Style: $STYLE"
          echo "Code: $CODE"
          echo "Dependencies: $DEPS"
          echo "Packages: $PKG"
          if [ "${STYLE}_${CODE}_${DEPS}_${PKG}" != "success_success_success_success" ]; then
            exit 1
          fi

  test:
    name: Test - ${{ matrix.platform.name }} - ${{ matrix.node-version }}

    strategy:
      matrix:
        node-version: [20.x, 22.x]
        platform:
          - name: Ubuntu
            os: ubuntu-latest
            shell: bash
          - name: macOS
            os: macos-latest
            shell: bash
          - name: macOS Intel
            os: macos-13
            shell: bash
          - name: Windows
            os: windows-latest
            shell: bash
          - name: Windows Powershell
            os: windows-latest
            shell: powershell
        exclude:
          - node-version: ${{ github.event_name == 'pull_request' && '22.x' }}
          - platform: ${{ fromJSON(github.event_name == 'pull_request' && '{"name":"macOS","os":"macos-latest","shell":"bash"}') }}
          - platform: ${{ fromJSON(github.event_name == 'pull_request' && '{"name":"macOS Intel","os":"macos-13","shell":"bash"}') }}
          - platform: ${{ fromJSON(github.event_name == 'pull_request' && '{"name":"Windows Powershell","os":"windows-latest","shell":"powershell"}') }}
      fail-fast: false

    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Use Nodejs ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Tests
        run: pnpm --no-bail --aggregate-output -F infra-build test test/smoke.ts
