name: CI (with vlt)

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint (with vlt)
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '^22.14.0'
          check-latest: true

      - name: Bootstrap
        run: pnpm install

      - name: Build vlt
        run: node --run build:bundle

      - name: Add bundle to PATH
        run: echo "$GITHUB_WORKSPACE/scripts/bins/bundle" >> $GITHUB_PATH

      - name: Install Dependencies
        run: |
          # avoid changes from the bootstrap step
          ./scripts/rm-node-nodules.ts
          git checkout -- vlt-lock.json
          # re-install dependencies
          vlt install --view=human

      - name: Formatting
        id: format
        continue-on-error: true
        run: vlr format:check

      - name: Linting
        id: lint
        run: vlr lint:check

      - name: Dependencies
        id: deps
        run: vlr deps:check

      - name: Docs
        id: docs
        run: vlr --workspace ./www/docs typedoc:check

      - name: Consistent Workspaces
        id: workspaces
        run: |
          vlr fix:pkg
          if [ -n "$(git status --porcelain)" ]; then
            git diff
            exit 1
          fi

      - name: Check Results
        continue-on-error: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
        run: |
          declare -A OUTCOMES=(
            [format]="${{ steps.format.outcome }}"
            [lint]="${{ steps.lint.outcome }}"
            [deps]="${{ steps.deps.outcome }}"
            [docs]="${{ steps.docs.outcome }}"
            [workspaces]="${{ steps.workspaces.outcome }}"
          )
          STATUS=0
          for STEP in "${!OUTCOMES[@]}"; do
            OUTCOME="${OUTCOMES[$STEP]}"
            echo "$STEP: $OUTCOME"
            if [ "$OUTCOME" != "success" ]; then
              STATUS=1
            fi
          done
          exit $STATUS

  test:
    name: Test (with vlt) - ${{ matrix.platform.name }} - ${{ matrix.node-version }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    strategy:
      matrix:
        node-version: [22.x]
        platform:
          - name: Ubuntu
            os: blacksmith-4vcpu-ubuntu-2404
            shell: bash
      fail-fast: false

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Nodejs ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Bootstrap
        run: pnpm install

      - name: Build vlt
        run: node --run build:bundle

      - name: Add bundle to PATH
        run: echo "$GITHUB_WORKSPACE/scripts/bins/bundle" >> $GITHUB_PATH

      - name: Install Dependencies
        run: |
          # avoid changes from the bootstrap step
          ./scripts/rm-node-nodules.ts
          git checkout -- vlt-lock.json
          # re-install dependencies
          vlt install --view=human

      - name: Run Typecheck
        id: typecheck
        run: vlr --recursive typecheck

      - name: Run Tests
        id: test
        run: vlr --recursive test

      - name: Check Results
        continue-on-error: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
        run: |
          declare -A OUTCOMES=(
            [typecheck]="${{ steps.typecheck.outcome }}"
            [test]="${{ steps.test.outcome }}"
          )
          STATUS=0
          for STEP in "${!OUTCOMES[@]}"; do
            OUTCOME="${OUTCOMES[$STEP]}"
            echo "$STEP: $OUTCOME"
            if [ "$OUTCOME" != "success" ]; then
              STATUS=1
            fi
          done
          exit $STATUS
